# Add any directories, files, or patterns you don't want to be tracked by version control
*.cpython-36.pyc
*.cpython-37.pyc
env/
.vscode/
.vscode/*
*/__pycache__/*
*.pyc
*.pyo
AACForm/staticfiles/
AACForm/staticfiles/*
AACForm/My Project-7fa0f5fdaa9f.json
env/
